@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
/*@import url(http://fonts.googleapis.com/css?family=Oswald);*/
/*font-family: 'Oswald', 'Futura', sans-serif;*/

body {
  font-family: "Amaranth", sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  width: 550px;
  margin: 20px auto;
}

.header {
  text-shadow: 2px 2px 1px hsl(37, 93%, 31%);
  border-top: 2px solid hsl(37, 93%, 71%);
  border-bottom: 2px solid hsl(37, 93%, 31%);
  background-color: #F39C12;
  border-radius: 5px;
  padding: 0 10px;
}
.unitSelector {
  width: 49.5%;
  margin: 10px auto 10px 0;
  display: inline-block;
  text-align: left;
}
.unitSelector ul {
  border-radius: 2px;
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin: 0;
  position: relative;
}
.unitSelector ul li {
  display: inline-block;
  text-align: center;
  border: 1px solid hsl(37, 93%, 31%);
  border-bottom: 2px solid hsl(37, 93%, 31%);
  border-radius: 5px;
  height: 20px;
  width: 20px;
  padding: 5px 5px;
}
.current {
  background-color: #FFC300;
}

.searchBar {
  width: 49.5%;
  margin: 10px 0px 10px auto;
  display: inline-block;
  text-align: right;
}
#citySearch {
  height: 20px;
  padding: 2px 2px 2px 4px;
  margin-right: -4px;
  border-radius: 5px 0 0 5px;
  vertical-align: middle;
}
#searchButton {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 0 5px 5px 0;
  background-color: #938F8F;
}


.currentWeather {
  margin: 20px auto;
  padding: 0 10px;
  min-height: 200px;
  background-color: #716387;
  border-radius: 5px;
  border-top: 2px solid hsl(0, 6%, 45%);
  border-bottom: 2px solid hsl(0, 16%, 26%);
  background-image: url("../images/404.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 200px;
}
.location {
  font-size: 0.8em;
  width: 50%;
  margin: 5px auto 0 0;
  height: initial;
}
.temperature {
  font-size: 2em;
  width: 50%;
}
#feelsLike {
  font-size: 0.4em;
}
.information {
  font-size: 0.8em;
  width: 50%;
  /*margin: 5px auto 5px 0;*/
  height: initial;
}
.spaceOut {
  display: inline-block;
  width: 100px;
}


.otherForecasts {
  background-color: #faa;
}
.otherForecasts ul {
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  background-color: #000;
}

#hourlyForecast .space div {
  display: inline-block;
  width: 23%;
  height: 95%;
  margin: 5px 2px;
  border-radius: 5px;
  border: 2px solid #FFC300;
  font-size: 0.9em;
  text-transform: capitalize;
}
.space div img {
  height: 50px;
}

#fiveDayForecast .space div {
  width: 96%;
  margin: 6px auto;
  border-radius: 5px;
  border: 2px solid #FFC300;
  font-size: 0.8em;
}
.space div span {
  width: 24%;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}
#fiveDayForecast .space div img {
  height: 40px;
  margin: -5px auto -15px;
}
.space {
  background-color: #716387;
  min-height: 40px;
  padding: 10px auto;
}

.mainItem {
  text-shadow: 2px 2px 1px hsl(37, 93%, 31%);
  border-top: 2px solid hsl(37, 93%, 71%);
  border-bottom: 2px solid hsl(37, 93%, 31%);
  background-color: #F39C12;}
.mainItem:hover {
  border-top: 2px solid hsl(37, 93%, 31%);
  border-bottom: 2px solid hsl(37, 93%, 71%);}

  .firstItem {border-radius: 5px 5px 0 0;}
  .lastItem {border-radius: 0 0 5px 5px;}


div#note {
  display: block;
  background-color: #000;
  padding: 1em 1em 2em 1em;
  opacity: 0.8;
  height: 95%;
  width: 50%;
  margin: 0 0 0 auto;
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 0;
}
#note ul {
  padding-left: 0;
  list-style: none;
}
div#close {
  height: 32px;
  width: 32px;
  border-radius: 16px 0 0 16px;
  padding-left: 36px;
  background-image: url("../images/left.png");
  background-size: 24px;
  vertical-align: text-bottom;
  background-position: center left;
  background-repeat: no-repeat;
}
div#close:hover {
  color: green;
}
#options li {
  width: 95%;
  height: 20px;
  background-color: #433F3F;
  border-top: 2px solid hsl(0, 6%, 45%);
  border-bottom: 2px solid hsl(0, 16%, 26%);
}
#options li:hover {
  color: green;
  border-top: 2px solid hsl(0, 16%, 26%);
  border-bottom: 2px solid hsl(0, 6%, 45%);
}
